*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
}

body{
    background-color: #FFFFFF;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
}

#div_menu{
    height: 90vh;
    width: 20%;
    background-color:#001F31;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
      
}

#container{
    display: flex;
}

/* empresa */

#div_empresa{
    height: 90vh;
    width: 83%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:#d7f0ffbc;
}

/* funcionario */

#div_funcionarios{
    height: 90vh;
    width: 83%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:#d7f0ffbc;
}

/* usuário */

#div_usuarios{
    height: 90vh;
    width: 83%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:#d7f0ffbc;
}

#container_titulo {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

#container_titulo h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #001F31;
}

#user_list {
    list-style-type: none;
}

#user_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

#user_item:last-child {
    border-bottom: none;
}

#user_actions {
    display: flex;
    gap: 10px;
}

#edit_btn, .delete_btn {
    background-color: transparent;
    border: none;
    color: #001F31;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

#edit_btn:hover {
    color: #ff9900;
}

#delete_btn:hover {
    color: #e60000;
}

#edit_btn i, .delete_btn i {
    margin-right: 5px;
}

#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
}

#overlay.close{
    display: none;
}

#overlay.open{
    display: block;
}

#modal{
    width: 70%;
    max-width: 600px;
    position: fixed;
    background-color: #ddd;
    border-radius: 8px;
}

#modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.close{
    display: none;
}

#modal.open{
    display: block;
}

#modal .close_modal{
    background: none;
    border: none;
    font-size: 18px;
    margin-left: auto;
}

#modal .close_modal:hover,
#modal .btn_confirm:hover{
    cursor: pointer;
}

#modal .btn_confirm{
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #001F31;
    color: #fff;
    font-size: 18px;
}

#modal_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.opcoes_menu{
    font-family: "Exo", sans-serif;
    margin-left: 10%;
    margin-top: 23%;
    cursor: pointer;
}

 .opcoes_menu:hover{
    color: #909DB6;
}

/* header */

header{
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: #909DB6;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 97%;
}

header img{
    height: 100%;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

#btn_register{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #001F31;
}

.voltar {
    margin-left: 20px;
}

#btn_register a{
    text-decoration: none;
    color: #909DB6;
}

#btn_register a::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #909DB6;
    transition: ease-in-out 0.5s;
}

#btn_register a:hover::after{
    width: 100%;
}


#btn_login{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
}

#btn_login a{
    text-decoration: none;
    color: #001F31;
}

#btn_login a::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #001F31;
    transition: ease-in-out 0.5s;
}

#btn_login a:hover::after{
    width: 100%;
}


#filtrarBtn {
    background-color: #001F31; 
    color: white;               
    border: none;               
    border-radius: 5px;        
    padding: 10px 15px;      
    cursor: pointer;       
    display: flex;            
    align-items: center;     
}

#filtrarBtn i {
    margin-right: 5px;       
}

#filtrarBtn2 {
    background-color: #001F31; 
    color: white;               
    border: none;               
    border-radius: 5px;        
    padding: 10px 15px;      
    cursor: pointer;       
    display: flex;            
    align-items: center;     
}

#filtrarBtn2 i {
    margin-right: 5px;       
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -110px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 660px) {

    header{
        height: 10vh;
    }

    header > div{
        width: 90%;
    }

    #title h1{
        max-width: 390px;
        font-size: 2rem;
    }

    #btn_register,
    #btn_login{
        padding: 10px 15px;
    }

    #btn_register a,
    #btn_login a{
        font-size: 22px;
    }

    main{
        align-items: center;
    }

    main > div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        max-width: 1200px;
    }

    #selects label,
    #selects button{
        max-width: 462px;
    }

    footer{
        height: 10vh;
        flex-direction: row;
        align-items: normal;
    }

    footer img{
        width: auto;
    }

}

@media (min-width: 1100px) {
    #about > div > div{
        display: flex;
    }

    #about > div > div > div{
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about > div img{
        width: 40vw;
    }

    #about p{
        max-width: 400px;
        margin: 20px;
        font-size: 16px;
    }

    #map{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #B4C5E4;
        margin: 30px 0;
        padding: 0 5vw;
        justify-content: center;
    }

    #map img{
        margin: 30px;
    }

    footer p{
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    header > div{
        max-width: 1896px;
    }

    #about > div > div {
        max-width: 1152px;
    }
}