*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #001F31;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: #909DB6;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 97%;
}

header img{
    height: 100%;
}

#buttons{
    display: flex;
}

#btn_register{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #001F31;
}

#btn_register a{
    text-decoration: none;
    color: #909DB6;
}

#btn_register a::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #909DB6;
    transition: ease-in-out 0.5s;
}

#btn_register a:hover::after{
    width: 100%;
}

#btn_login{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
}

#btn_login a{
    text-decoration: none;
    color: #001F31;
}

#btn_login a::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #001F31;
    transition: ease-in-out 0.5s;
}

#btn_login a:hover::after{
    width: 100%;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url("../../assets/img/back_city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title h1{
    width: 90vw;
    max-width: 317px;
    margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topic_one,
#topic_two{
    width: 70vw;
    height: 40vh;
    max-width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 45px;
}

#locate,
#analysis{
    background-color: #B4C5E4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0 20px;
    position: relative;
    bottom: 60px;
}

#locate p,
#analysis p{
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    color: #000000;
}

#locate_img,
#analysis_img{
    width: 50%;
    background-color: #001F31;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
}

#locate_img img,
#analysis_img img{
    width: 100%;
    height: 100%;
    background-color: #909DB6;
    border-radius: 50%;
}

#about > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
}

#about h2{
    margin: 15px 0;
    text-align: center;
}

#about p{
    margin: 15px 0;
    text-align: justify;
}

#about > div img{
    width: 100%;
}

#map{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B4C5E4;
    margin: 30px 0;
}

#map h2{
    margin: 20px 0;
    color: #001F31;
    font-weight: 400;
    text-align: center;
}

#map img,
#map #google-maps{
    width: 85vw;
    height: 17rem;
    max-height: 462px;
    border: 2px solid #3066BE;
    border-radius: 15px;
    margin-bottom: 20px;
}

#map img,
#selects{
    max-width: 462px;
}

#selects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selects label{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin: 10px 0;
    width: 70vw;
    font-size: 18px;
}

#selects select{
    background: transparent;
    border: none;
    border-bottom: 1px solid #001F31;
    font-size: 16px;
}

#selects button{
    width: 70vw;
    padding: 5px;
    font-size: 15px;
    margin: 15px;
    background-color: #001F31;
    border: none;
    border-radius: 5px;
    color: #B4C5E4;
}

#btn-check-region:hover{
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #909DB6;
    flex-direction: column-reverse;
    align-items: center;
}

footer img{
    width: 80%;
}

#contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
}

@media (min-width: 660px) {

    header{
        height: 10vh;
    }

    header > div{
        width: 90%;
    }

    #title h1{
        max-width: 390px;
        font-size: 2rem;
    }

    #btn_register,
    #btn_login{
        padding: 10px 15px;
    }

    #btn_register a,
    #btn_login a{
        font-size: 22px;
    }

    main{
        align-items: center;
    }

    main > div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        max-width: 1200px;
    }

    #selects label,
    #selects button{
        max-width: 462px;
    }

    footer{
        height: 10vh;
        flex-direction: row;
        align-items: normal;
    }

    footer img{
        width: auto;
    }

}

@media (min-width: 1100px) {
    #about > div > div{
        display: flex;
    }

    #about > div > div > div{
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about > div img{
        width: 40vw;
    }

    #about p{
        max-width: 400px;
        margin: 20px;
        font-size: 16px;
    }

    #map{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #B4C5E4;
        margin: 30px 0;
        padding: 0 5vw;
        justify-content: center;
    }

    #map img{
        margin: 30px;
    }

    footer p{
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    header > div{
        max-width: 1896px;
    }

    #about > div > div {
        max-width: 1152px;
    }
}